{% extends "base.html" %}
{% block title %}Editar Categoría{% endblock %}

{% block content %}
<h2 class="mb-4">Editar Categoría</h2>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" value="{{ categoria.nombre }}" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea name="descripcion" class="form-control" rows="3" required>{{ categoria.descripcion }}</textarea>
    </div>

    <button type="submit" class="btn btn-success">Actualizar</button>
    <a href="/categorias/" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
