{% extends "base.html" %}
{% block title %}Créditos{% endblock %}

{% block content %}
<div class="card shadow mx-auto" style="max-width: 500px;">
    <div class="card-body text-center">        
        <p class="mt-3">Sitio web desarrollado por:</p>

        <h4 class="fw-bold text-primary">Kevin Hanz Alexander Chocoj Xulu</h4>
        <p>Carné 1990-19-7603</p>

        <p class="text-muted mt-3">
            Proyecto para examen final de Desarrollo Web<br>
        </p>
    </div>
</div>
{% endblock %}
